<h1>Search the public Taj IT Academy Directory</h1>
<form action="" method="" >
    <label>First Name </label>
    <label>Last Name</label><br/>
    <input type="text" placeholder="firstname"/>
    <input type="text" placeholder="lastname"/>
    <button type="submit" class="btn btn-outline-danger">FIND PEOPLE</button>
    </form>
    <h2>University-wide Faculty Resources</h2>
    <p>The following links provide resources for all IT Academy University faculty.
         Additional faculty resources may be found at Faculty Development and Diversity. 
         See also Open Faculty Positions.</p>
    <section>
        <ol>
            <li><a href="/faculty/mobile-apps">IT Academy Mobile Apps</a></li>
            <li><a href="/faculty/it">IT Academy Information Technology</a></li>
            <li><a href="/faculty/web-development">IT Academy Web Department</a></li>
            <li><a href="/faculty/tech-development">Office of Technology Development</a></li>
        </ol>
    </section>