<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <section class="ul-list">
    <ul class="navbar-nav mr-auto">
       <section class="list-first-header">
      <li class="nav-item active">
        <a class="nav-link" href="/">
      <i class="fas fa-home"></i><span class="sr-only">(current)</span></a>
      </li>
      </section>
      <section class="list-first-header">
      <li class="nav-item active">
        <a class="nav-link" href="/faculty">Faculty<span class="sr-only">(current)</span></a>
      </li>
      </section>
      <section class="list-first-header">
      <li class="nav-item active">
        <a class="nav-link" href="/staff">Staff<span class="sr-only">(current)</span></a>
      </li>
      </section>
      <section class="list-first-header">
       <li class="nav-item active">
        <a class="nav-link" href="/students">Students<span class="sr-only">(current)</span></a>
      </li>
      </section>
      <section class="list-first-header">
       <li class="nav-item active">
        <a class="nav-link" href="/alumni">Alumni<span class="sr-only">(current)</span></a>
      </li>
      </section>
      <section class="list-first-header">
       <li class="nav-item active">
        <a class="nav-link" href="/parents">Parents<span class="sr-only">(current)</span></a>
      </li>
      </section>
      <section class="list-first-header">
       <li class="nav-item active">
        <a class="nav-link" href="/visitors">Visitors<span class="sr-only">(current)</span></a>
      </li>
      </section>
      <section class="list-first-header">
       <li class="nav-item active">
        <a class="nav-link" href="/media">Media<span class="sr-only">(current)</span></a>
      </li>
      </section>    
    </ul>
    </section>
    </section>
    <form  class="form-inline my-2 my-lg-0">
      <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>