.navbar{
    width:1352.5px;
    background-color: rgba(255,255,255,.4);
    margin-left:-14.2cm;
    height: 60px;
}

.dropdown{
    margin-left:700px;
    margin-top:-40px;
}
form{
    width:300px;
    margin-left:980px;
    padding-top:3px;
    }