<div class="container">
<video id="main-image" poster="https://www.harvard.edu/sites/default/files/module_media/CompSci2.jpg"  loop="" autoplay="" muted="">
<source src="https://www.harvard.edu/sites/default/files/module_media/CS_Ethics_header_animation_timeline.mp4"></video>
<a href="/read-story"><button type="button" class="btn btn-danger btn-lg">Read Story</button></a>
</div>
<p id="main-text">Tajikistan IT Academy are embedding ethics in the computer science cirriculum</p>


<section id="courses-section">
    <div >
    <h4 id="courses-text">Explore Harvard's online courses and learning content <a id="courses-button" href="/courses"><button type="button" class="btn btn-secondary">VIEW COURSES</button></a></h4>
    </div>
</section>

<section id="videos">
<div id="container-erasmus">
<section >
<h4 id="erasmus">Erasmus+ MIT Uiversity</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/nzt18BIAt3g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<p id="MIT">The Massachusetts Institute of Technology (MIT) is a private research university in Cambridge, Massachusetts. Founded in 1861 in response to the increasing industrialization of the United States, MIT adopted a European polytechnic university model and stressed laboratory instruction in applied science and engineering. The institute is traditionally known for its research and education in the physical sciences and engineering, but more recently in biology, economics, linguistics and management as well. MIT is often ranked among the world's top universities.[11][12][13][14][15][16]
    As of October 2018, 93 Nobel laureates, 25 Turing Award winners, and 8 Fields Medalists have been affiliated with MIT as alumni, faculty members or researchers. In addition, 52 National Medal of Science recipients, 65 Marshall Scholars, 45 Rhodes Scholars,[17] 38 MacArthur Fellows, 34 astronauts and 16 Chief Scientists of the U.S. Air Force have been affiliated with MIT.
</p>
</div>
<div id="container-harvard">
<p id="harvard-text">Harvard University is a private Ivy League research university in Cambridge, Massachusetts, with about 6,700 undergraduate students and about 15,250 post graduate students. Established in 1636 and named for its first benefactor, clergyman John Harvard, Harvard is the United States' oldest institution of higher learning,[8] and its history, influence, and wealth have made it one of the world's most prestigious universities.[9]
    The Harvard Corporation is its first chartered corporation. Although never formally affiliated with any denomination, the early College primarily trained Congregational and Unitarian clergy. Its curriculum and student body were gradually secularized during the 18th century, and by the 19th century, Harvard had emerged as the central cultural establishment among Boston elites.[10][11] Following the American Civil War, President Charles W. Eliot's long tenure (1869–1909) transformed the college and affiliated professional schools into a modern research university; Harvard was a founding member of the Association of American Universities in 1900.[12] 
</p>
<section id="harvard-section">
<h4 id="erasmus">Erasmus+ Harvard Uiversity</h4>
<iframe id="harvard" width="560" height="315" src="https://www.youtube.com/embed/bYZR6uJwSm4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
</div>
</section>